{% load static %}

<div class="header">
  <a href={% url 'home' %} class="">
    <h1 class="header__logo">Scott</h1>
    <h1 class="header__logo">Campbell</h1>
  </a>
  <h6 class="color-accent--yellow">Full-Stack Web Developer, Artist, and Maker of Things</h6>

  <div class="icons__media">
    <ul>
      {% for account in accounts.all %}
      <li>
        <a href="{{ account.link }}" target="_blank" title={{ account.name }}><span class="{{ account.icon_class }}"></span></a>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
