{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="home" class="home">

  <!-- HEADER -->
  <div class="col-xs-12">
    {% include './header.html' %}
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4 profile__pic">
      <img src={% static '/images/profile_pic.jpeg' %} alt="">
    </div>

    <div class="col-xs-12 col-md-8 profile__about">
      <p>Passionate web developer specializing in both front-end/back-end technologies.  I make clean, beuatiful UI's with an obsessive interest in designing a seamless interaction with back-end RESTful API's and databases.</p>
    </div>
  </div>

  <div class="col-xs-12 home__divider">
    <hr class="custom-hr">
  </div>


  <div class="text-center col-xs-12">

    <h3 class="home__heading"><span class="color-accent--orange">::::</span> technologies I like working with <span class="color-accent--orange">::::</span></h3>

    <div class="technologies">
      <ul>
        {% for t in technologies %}
          <a href="{{ t.link }}" target="_blank">
            <li class="pill">
            {{ t.name }}
            </li>
          </a>
        {% endfor %}
      </ul>
    </div>
  </div>


  <div class="col-xs-12 home__divider">
    <hr class="custom-hr">
  </div>


  <div class="text-center col-xs-12">

    <h3 class="home__heading"><span class="color-accent--orange">::::</span> projects <span class="color-accent--orange">::::</span></h3>

    {% include './projects_list.html' %}

    <h4 class="color-accent--yellow heading"><a href={% url 'projects' %}>see all</a></h4>
  </div>

</section>



{% endblock %}
