{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="home" class="home">

  <div class="col-xs-12">
    {% include './header.html' %}
  </div>


  <div class="col-xs-12 home__divider">
    <hr class="custom-hr">
  </div>


  <div class="text-center col-xs-12">

    <h3 class="home__heading"><span class="color-accent--orange">::::</span> technologies I like working with <span class="color-accent--orange">::::</span></h3>

    <div class="technologies">
      <ul>
        {% for t in technologies %}
          <a href="{{ t.link }}" target="_blank">
            <li class="pill">
            {{ t.name }}
            </li>
          </a>
        {% endfor %}
      </ul>
    </div>
  </div>


  <div class="col-xs-12 home__divider">
    <hr class="custom-hr">
  </div>


  <div class="text-center col-xs-12">

    <h3 class="home__heading"><span class="color-accent--orange">::::</span> projects <span class="color-accent--orange">::::</span></h3>

    {% for project in projects %}
      <div class="col-xs-12">
        <a href="{% url 'project' project.id %}">
          <div class="projects__preview">
            <div class="tint"></div>
            <div class="projects__preview--bg" style='background-image: url({{ project.thumbnail.url }})'></div>
            <div class="projects__preview--heading">
              <h5>{{ project.title }}</h6>
              <br>
              <h6>{{ project.sub_title }}</h6>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

</section>



{% endblock %}
