{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="margin-top-20">

  <article class="project__container row">
    <!-- project thumbnail -->
    <div class="project__img col-xs-12">
      <img src={{ project.thumbnail.url }} onclick="openModal('{{ project.thumbnail.url }}')">
    </div>
    <!-- /project thumbnail -->

    <!-- ****** PROJECT BODY ******* -->

    <div class="col-xs-12">
      <div class="project__header">
        <div class="project__header--heading">
          <h1>{{ project.title }}</h1>
          <br>
          <h4>{{ project.sub_title }}</h4>
          <br>
          <time>{{ project.pub_date|date:"M d Y" }}</time>
        </div>
      </div>
      <div class="project__body">
        <p>{{ project.description }}</p>
      </div>
    </div>


    <!-- PROJECT DETAILS AND LINKS -->
    <div class="project__details col-xs-12">

      <div class="project__details--tech">
        <h4 class="heading">technologies</h4>
        <ul>
          {% for tech in project.technologies.all %}
          <a href="{{ tech.link }}" target="_blank">
            <li class="pill">
            {{ tech.name }}
            </li>
          </a>
          {% endfor %}
        </ul>
      </div>

    </div>


    <div class="col-xs-12 project--icon">
      <a href="{{ project.github }}" target="_blank" title="github repository"><span class="fab fa-github"></span></a>
      <a href="{{ project.website }}" target="_blank" title="Website"><span class="fas fa-globe"></span></a>
    </div>



    <!-- ****** POSTS ******* -->
    {% for post in project.post_set.all %}
      <div class="project__post">

        <div class="project__post--header">
          <h4>{{ post.title }}</h4>
          <br>
          <h5>{{ post.pub_date }}</h5>
        </div>
      </div>


      {% if post.images.all %}

      <div class="project__post__images">
        {% for image in post.images.all %}
        <div class="project__img">
          <img src="{{ image.image.url }}" onclick="openModal('{{ image.image.url }}')" />
        </div>
        {% endfor %}
      </div>

      {% endif %}

      <div class="post__body">
        <p>{{ post.body|safe }}</p>
      </div>

    {% endfor %}

  </article>

  <div id="myModal" class="modal" onclick="closeModal()">
    <div class="modal-content" onclick="closeModal()">
      <img id="modal-image" src="" style="width:100%" onclick="closeModal()">
    </div>
  </div>

</section>
{% endblock %}
