{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="home" class="home">
  <div class="home__header  col-xs-12">
    <h1 class="home__essy">Scott</h1>
    <h1 class="home__essy">Campbell</h1>
    <h6>Toronto based <span class="color-accent--yellow">Artist, Developer, and Maker</span></h6>

    <div class="icons__media">
      <ul>
        {% for account in accounts.all %}
        <li>
          <a href="{{ account.link }}" target="_blank" title={{ account.name }}><span class="{{ account.icon_class }}"></span></a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>

  <div class="col-xs-12">
    {% for project in projects %}
      <div class="col-xs-12">
        <a href="{% url 'project' project.id %}">
          <div class="projects__preview">
            <div class="tint"></div>
            <div class="projects__preview--bg" style='background-image: url({{ project.thumbnail.url }})'></div>
            <div class="projects__preview--heading">
              <h5>{{ project.title }}</h6>
              <h6>{{ project.sub_title }}</h6>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

</section>



{% endblock %}
