<div class="">
  <a href="{% url 'projects' %}">
    <div class="button-transition left-button-slide side-button side-button--right">
      <ul>
        <li>P</li>
        <li>R</li>
        <li>O</li>
        <li>J</li>
        <li>E</li>
        <li>C</li>
        <li>T</li>
        <li>S</li>
        <li><span class="fa fa-caret-right"></span></li>
      </ul>
    </div>
  </a>
</div>

<!-- <a href="pages/about_page.html">
  <div data-position='right' class="button-transition right-button-slide side-button">
    <ul>
      <li>A</li>
      <li>B</li>
      <li>O</li>
      <li>U</li>
      <li>T</li>
      <li><span class="glyphicon glyphicon-certificate"></span></li>
      <li>M</li>
      <li>E</li>
    </ul>
  </div>
</a> -->

</section>
