{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/post.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/sidebar.css" %}">
{% endblock %}


{% block content %}
<section class="margin-top-20">

  <div class="sidebar__container col-xs-3">
    {% include './sidebar.html' %}
  </div>

  <article class="post col-xs-9">

    <!-- HEADER -->
    <div class="post__header">
      <h3>{{ post.title }}</h3>
      <br>
      <h4>{{ post.sub_title }}</h4>
      <br>
      <h6>Posted: <span class="color-accent--mikado">{{ post.pub_date }}</span></h6>
    </div>

    <!-- THUMBNAIL -->
    <div>
      <div class="post__thumbnail" style="background-image: url({{ post.thumbnail.url }})">
      </div>
    </div>

    <div class="post__body">
      <p>{{ post.body }}</p>
    </div>

    <!-- SOUNDCLOUD EMBED -->
    {% if post.soundcloud_embed %}
    <div class="soundcloud">
      {{ post.soundcloud_embed|safe }}
    </div>
    {% endif %}

  </article>

</section>

{% endblock %}
