{% extends 'base.html' %}
{% load static %}


{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/project.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/sidebar.css" %}">
{% endblock %}


{% block content %}
<section class="margin-top-20">

  <div class="sidebar__container col-xs-3">
    {% include './sidebar.html' %}
  </div>

  <article class="project__container col-xs-9">

    <!-- project thumbnail -->
    <div class="project__header">
      <div class="project__header--bg" style="background-image: url({{ project.thumbnail.url }})"></div>
      <div class="project__header--heading">
        <h1>{{ project.title }}</h1>
        <br>
        <h4>{{ project.sub_title }}</h4>
      </div>
    </div>
    <!-- /project thumbnail -->

    <div class="project__body">
      <hr class="custom-hr">
      <p>{{ project.body }}</p>
    </div>

    {% for post in project.post_set.all %}
    <a href="{% url 'post' prj=project.id post=post.id %}">
      <div class="project__post">
        <div class="project__post--bg" style='background-image: url({{ post.thumbnail.url }})'></div>
        <div class="project__post--header">
          <h4>{{ post.title }}</h4>
          <br>
          <h5>{{ post.sub_title }}</h5>
          <br>
          <h5>{{ post.pub_date }}</h5>
        </div>
      </div>
    </a>
    {% endfor %}
  </article>
</section>
{% endblock %}
