{% extends 'base.html' %}
{% load static %}


{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/projects.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/sidebar.css" %}">
{% endblock %}


{% block content %}
<section class="margin-top-20">

  <div class="project__sidebar col-xs-3">
    {% include './sidebar.html' %}
  </div>

  <article class="col-xs-9">

    <!-- project thumbnail -->
      <a href="{{ project.thumbnail.url }}" title="{{ project.thumbnail.title }}">
        <div class="project__thumbnail" style="background-image: url( {{ project.thumbnail.url }} );"></div>
      </a>
    <!-- /project thumbnail -->


    <!-- post header -->
    <div class="row">

      <div class="col-xs-12">
        <div class="project__header">
          <h1>
            {{ project.title }}
          </h1>

          <h4>{{ project.sub_title }}</h4>


          <span class="date">
            <time>
              {{ project.pub_date }}
            </time>
          </span>
          <span class="author">Author?</span>
          <span class="comments">comments</span>

        </div>

      </div>
      <!-- /post title -->

      <hr class="black-hr">
    </div>



    <!-- ~~~~~~~~~~~~~~~~~~~ -->
    <!-- 		THE CONTENT 	   -->
    <!-- ~~~~~~~~~~~~~~~~~~~ -->

    <div class="row">
      <div class="project__content col-xs-12">

        <p>{{ project.body }}</p>

        <h5>Check out the code --> <a href="{{ project.github }}" target="_blank">GitHub</a></h5>

        <hr class="black-hr">
      </div>


      <!-- 		COMMENTS 	     -->
      <div class="col-xs-12">
        <p>comments</p>
      </div>
    </div>

  </article>
</section>
{% endblock %}
