{% extends 'base.html' %}
{% load static %}


{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/projects.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/sidebar.css" %}">
{% endblock %}


{% block content %}
<section class="margin-top-20">

  <div class="sidebar__container col-xs-3">
    {% include './sidebar.html' %}
  </div>

  <article class="project__container col-xs-9">

    <!-- project thumbnail -->
    <div class="project__thumbnail">
      <img src="{{ project.thumbnail.url }}" alt="">
    </div>
    <!-- /project thumbnail -->

    <div class="project__header">
      <h1>
        {{ project.title }}
      </h1>

      <h4>{{ project.sub_title }}</h4>
    </div>

    <div class="project__body">
      <p>{{ project.idea }}</p>
      <p>{{ project.body }}</p>
      <p>{{ project.end_goal }}</p>
    </div>

    {% if posts %}
      {% for post in posts %}
        <div class="project__post">
          <div class="project__post--bg" style='background-image: url({{ post.thumbnail.url }})'></div>
          <div class="project__post--header">
            <h4>{{ post.title }}</h4>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </article>
</section>
{% endblock %}
