
{% load static %}

<div class="sidebar">

  <div class="text-center">
    <h1 class="sidebar__heading"><a href="{% url 'home' %}">FMTC</a></h1>
  </div>

  <hr class="black-hr">

  <div class="sidebar__posts">
    <h3>Recent Posts</h3>
    <a href=""><h5 class="sidebar__posts--title">examole 1</h5></a>
    <a href=""><h5 class="sidebar__posts--title">examole 2</h5></a>
    <a href=""><h5 class="sidebar__posts--title">examole 3</h5></a>
  </div>

  <hr class="black-hr">

  <div class="sidebar__soc-icons">
    <ul>
      <li id="email">
        <a href=""><span class="fa fa-envelope"></span></a>
      </li>
      <li id="youtube">
        <a href="https://www.youtube.com/channel/UCYqJ-EtqO6gVCPh4aDpckRA" target="_blank"><span class="fa fa-youtube"></span></a>
      </li>
      <li id="github">
        <a href="https://github.com/scottc11" target="_blank"><span class="fa fa-github"></span></a>
      </li>
      <li id="twitter">
        <a href="https://twitter.com/Scott_Camp" target="_blank"><span class="fa fa-twitter"></span></a>
      </li>
      <li id="soundcloud">
        <a href="https://soundcloud.com/scottcamp" target="_blank"><span class="fa fa-soundcloud"></span></a>
      </li>
    </ul>
  </div>

  <hr class="black-hr">

</div>
