
{% load static %}

<div class="sidebar">

  <div class="text-center">
    <h1 class="sidebar__heading"><a href="{% url 'home' %}">ESSY</a></h1>
  </div>

  <hr class="black-hr">

  <div class="sidebar__summary">
    <h4>Project</h4>
    <h5>{{ project.title }}</h5>
    <h5>{{ project.sub_title }}</h5>
    <time class="sidebar__summary--date">{{ project.pub_date|date:"M d Y" }}</time>

    <p>{{ project.idea }}</p>

  </div>

  <hr class="black-hr">

  <div class="sidebar__posts">
    <h4 class="sidebar__sub-header">recent posts</h4>
    <ul>
      {% for post in project.post_set.all %}
      <li>
        <a href="{% url 'post' prj=project.id post=post.id %}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="sidebar__tech">
    <h4 class="sidebar__sub-header">technologies</h4>
    <ul>
      {% for tech in project.technologies.all %}
      <li class="button-link">
        <a href="{{ tech.link }}" target="_blank">{{ tech.name }}</a>
      </li>
      <br>
      {% endfor %}
    </ul>
  </div>

  <div class="sidebar__soc-icons">
    <h4 class="sidebar__sub-header">project links</h4>
    <ul>
      {% for account in project.media_accounts.all %}
      <li>
        <a href="{{ account.link }}" target="_blank" title={{ account.name }}><span class="fa {{ account.icon_class }}"></span></a>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
