@import 'variables';

.entry {
  background: @white;
  color: black;
  &__img {
    min-height: 300px;
    box-shadow: @box-shadow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
