@import 'variables';


body {
  font-family: @roboto;
}

h1 { margin: 0; }
h3 { font-size: 20pt; }
h4 { font-size: 16pt; }
h5 { font-size: 14pt; }
h6 { font-size: 12pt; }
a {
  color: inherit;
  &:hover {
    color: @blue-jeans;
  }
}


// ----------------------------------------------------------------------------
//                      GLOBAL CLASSES
// ----------------------------------------------------------------------------

.color-accent {
  &--blue-jean { color: @blue-jeans; }
  &--blue-green { color: @blue-green; }
  &--silver { color: @silver; }
  &--red { color: @light-red; }
  &--mikado { color: @mikado; }
  &--gold { color: @gold; }
  &--turquoise { color: @turquoise; }
  &--sunset-orange { color: @sunset-orange; }
}


.custom-hr { border: 1px solid @mako; }
.text-center { text-align: center; }


// ----------------------------------------------------------------------------
.base {
  background: @sunset-orange;
}

/*--------------------------------------*/
/*        SOCIAL ICONS                  */
/*--------------------------------------*/

.icons {
  &__media {
    margin-top: 20px;
    & ul {
      list-style: none;
      padding: 0;
      text-align: center;
    }
    & ul li {
      display: inline-block;
      font-size: 2.5em;
      padding: 5px;
      margin: 5px;
    }
    & ul li a { color: @gunmetal; }
    & ul li a:hover { color: @flash-white; }
  }
}
