@import 'variables';

.post {
  padding: 15px;
  & div { margin-top: 15px; }

  &__thumbnail {
    width: 100%;
    min-height: 300px;
    box-shadow: @box-shadow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__header {
    color: @flash-white;
    & h1, h3, h4, h5, h6 {
      display: inline-block;
      font-family: @bungee-hairline;
      padding: 15px;
      background-color: @onyx;
    }
    & h5 {
      font-size: @small;
    }
  }

  &__body {
    font-family: @roboto;
    background: @flash-white;
    color: @black;
    padding: 15px;
  }
}
