@import 'variables';

.project {
  &__container {
    padding: 25px;
  }

  &__img {
    margin: 20px 0;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: @box-shadow;
  }

  &__header {
    &--heading {
      display: inline-block;
      color: @white;
      & h1 { font-weight: 700; background-color: @header-bg; }
      & time { color: @yellow; }
      & h1, h4, h5, time {
        display: inline-block;
        font-family: @bungee-hairline;
        padding: 15px;
      }
    }

    &--bg {
      position: absolute;
      z-index: 1;  /*so the background stays behind headers*/
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      box-shadow: @box-shadow;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__details {
    margin-top: 10px;
    margin-bottom: 10px;
    &--tech {
      & ul {
        list-style: none;
        padding: 0;
        & a:hover { text-decoration: none; }
        & li {
          display: inline-block;
          font-size: @xs-small;
          font-family: @roboto;
          color: @blue;
        }
      }
    }

  }

  &--icon {
    padding: 20px;
    & a span {
      margin: 20px;
      color: @orange;
      font-size: 100pt;
      -webkit-transition: color 0.5s; /* Safari */
      transition: color 0.5s;
      &:hover {
        color: @white;
      }
    }
  }

  &__body {
    padding: 15px;
    color: @white;
    font-size: @small;
    font-family: @console;
  }

  &__post {
    &--header {
      color: @gunmetal;
      display: inline-block;
      background-color: @header-bg;
      padding: 15px;
      & h4, h5, h6 {
        display: inline-block;
        font-family: @bungee-hairline;
        margin: 0;
      }
      & h4 { font-size: @small; }
      & h5 { font-size: @xs-small; }
    }
    &--img {
      margin: 20px 0;
      & img {
        max-height: 400px;
        max-width: 100%;
        box-shadow: @box-shadow;
      }
    }
  }
}

.lightbox {
  width: 200px;
}
