/*
https://coolors.co/
COLOR BLINDNESS: PROTANOMALY
*/
/* -------------------------------------------------------
     COLOURS
----------------------------------------------------------  */


@gunmetal: #3E3F41;
@green: #74A694;
@yellow: #FFD151;
@orange: #D98D34;
@dark-orange: #C13F22;
@blue: #5F91B9;


@black: #1E1A17;
@white: #FFFFFF;

/* -------------------------------------------------------
    FONTS
----------------------------------------------------------  */
@cutive-mono: 'Cutive Mono', monospace;
@source-sans-pro: 'Source Sans Pro', sans-serif;
@roboto: 'Roboto Mono', monospace;
@old-code: 'VT323', monospace;
@console: 'Inconsolata', monospace;
@bungee-outline: 'Bungee Outline', cursive;
@bungee-hairline: 'Bungee Hairline', cursive;
@bungee-shade: 'Bungee Shade', cursive;

// ------- font sizes ---------
@xs-small:    11pt;
@small:       13pt;
@medium:      16pt;
@large:       20pt;
@xs-large:     30pt;

/* -------------------------------------------------------
    SITE WIDE STYLES
----------------------------------------------------------  */
@box-shadow: 0 0 50px rgba(0,0,0,0.8);
@body-color: @white;
@text-bg: rgba(0, 0, 0, 0.1);
