/*
https://coolors.co/
COLOR BLINDNESS: PROTANOMALY
*/

@charleston: #282C34;
@gunmetal: #21252B;
@mako: #3D464D;
@light-red: #FF1053;
@coral: #FC7753;
@silver: #A8ADBB;
@flash-white: #EBF5EE;
@blue-jeans: #5DA7E7;
@rain-forest: #00635D;
@blue-green: #08A4BD;
@gold: #CCA43B;
