/*
https://coolors.co/
COLOR BLINDNESS: PROTANOMALY
*/
/* -------------------------------------------------------
     COLOURS
----------------------------------------------------------  */
/* -------------------------------------------------------
    FONTS
----------------------------------------------------------  */
/* -------------------------------------------------------
    SITE WIDE STYLES
----------------------------------------------------------  */
.button-link {
  box-sizing: border-box;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 20px;
  border: 0.5px solid #FFFFFF;
  font-size: 13pt;
  font-family: Roboto;
  font-weight: 300;
  color: #FFFFFF;
  margin: 5px;
}
.button-link:hover {
  cursor: pointer;
  border: 0.5px solid rgba(0, 0, 0, 0);
}
