/*
https://coolors.co/
COLOR BLINDNESS: PROTANOMALY
*/
/* -------------------------------------------------------
     COLOURS
----------------------------------------------------------  */
/* -------------------------------------------------------
    FONTS
----------------------------------------------------------  */
/* -------------------------------------------------------
    SITE WIDE STYLES
----------------------------------------------------------  */
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  margin: 0;
}
h3 {
  font-size: 20pt;
}
h4 {
  font-size: 16pt;
}
h5 {
  font-size: 14pt;
}
h6 {
  font-size: 12pt;
}
a {
  color: inherit;
}
a:hover {
  color: #5DA7E7;
}
.color-accent--blue-jean {
  color: #5DA7E7;
}
.color-accent--blue-green {
  color: #08A4BD;
}
.color-accent--silver {
  color: #A8ADBB;
}
.color-accent--red {
  color: #FF1053;
}
.custom-hr {
  border: 1px solid #3D464D;
}
.text-center {
  text-align: center;
}
.base {
  background: #99c1a5;
  height: 100%;
}
.home {
  font-family: 'VT323', monospace;
  color: #EBF5EE;
  background: #383737;
  height: 100%;
  padding: 20px;
  width: auto;
}
.home__essy {
  color: #EBF5EE;
  font-family: 'Bungee Shade', cursive;
  font-size: 40pt;
  margin: 0;
}
.home__header {
  margin-top: 15px;
}
.blog {
  width: auto;
  background: #FC7753;
  color: #3D464D;
}
.blog__sidebar {
  border-right: 1px solid #3D464D;
  height: 100%;
}
.blog__sidebar__header {
  margin-top: 40px;
  color: #EBF5EE;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
}
.blog__sidebar__recent-posts {
  margin-top: 40px;
  color: #EBF5EE;
  font-family: 'VT323', monospace;
  text-align: right;
}
.blog__sidebar__recent-posts h3 {
  font-size: 20pt;
}
.blog__sidebar__recent-posts h5 {
  font-size: 16pt;
}
.blog__posts {
  border-radius: 10px;
}
/*--------------------------------------*/
/*        SOCIAL ICONS                  */
/*--------------------------------------*/
.icons__media {
  margin-top: 20px;
}
.icons__media ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
.icons__media ul li {
  display: inline-block;
  font-size: 2.5em;
  padding: 5px;
  margin: 5px;
}
.icons__media ul li a {
  color: #21252B;
}
.icons__media ul li a:hover {
  color: #EBF5EE;
}
