/*
https://coolors.co/
COLOR BLINDNESS: PROTANOMALY
*/
/* -------------------------------------------------------
     COLOURS
----------------------------------------------------------  */
/* -------------------------------------------------------
    FONTS
----------------------------------------------------------  */
/* -------------------------------------------------------
    SITE WIDE STYLES
----------------------------------------------------------  */
.post {
  padding: 15px;
}
.post div {
  margin-top: 15px;
}
.post__thumbnail {
  width: 100%;
  min-height: 300px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.post__schematic img {
  width: 100%;
}
.post__header {
  color: #EBF5EE;
}
.post__header h1,
.post__header h3,
.post__header h4,
.post__header h5,
.post__header h6 {
  display: inline-block;
  font-family: 'Bungee Hairline', cursive;
  padding: 15px;
  background-color: #383737;
}
.post__header h5 {
  font-size: 13pt;
}
.post__body {
  font-family: 'Roboto Mono', monospace;
  color: #FFFFFF;
  padding: 15px;
}
