/*
https://coolors.co/
COLOR BLINDNESS: PROTANOMALY
*/
/* -------------------------------------------------------
     COLOURS
----------------------------------------------------------  */
/* -------------------------------------------------------
    FONTS
----------------------------------------------------------  */
.side-button {
  position: fixed;
  display: block;
  color: white;
  padding: 5px 5px 5px 5px;
  margin-left: 8px;
  top: 40%;
  text-shadow: 3px 0 10px rgba(0, 0, 0, 0.8);
}
.side-button--left {
  left: 0px;
}
.side-button--right {
  right: 0px;
}
.side-button ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.side-button ul span {
  color: #92f52f;
  line-height: 200%;
}
.side-button :hover {
  color: #92f52f;
  transform: scale(1.1);
}
