/*
https://coolors.co/
COLOR BLINDNESS: PROTANOMALY
*/
/* -------------------------------------------------------
     COLOURS
----------------------------------------------------------  */
/* -------------------------------------------------------
    FONTS
----------------------------------------------------------  */
/* -------------------------------------------------------
    SITE WIDE STYLES
----------------------------------------------------------  */
.sidebar {
  padding: 20px;
  background: #383737;
  height: 100%;
}
.sidebar__container {
  padding: 0;
  height: 100%;
}
.sidebar__heading {
  font-size: 40pt;
  color: #EBF5EE;
  text-align: left;
  font-family: 'Bungee Shade', cursive;
}
.sidebar__sub-header {
  text-align: right;
  font-family: 'VT323', monospace;
  color: #EBF5EE;
}
.sidebar__summary {
  color: #EBF5EE;
}
.sidebar__summary h4 {
  font-family: 'Bungee Hairline', cursive;
  text-decoration: underline;
}
.sidebar__summary h5:first-child {
  margin-top: 20px;
}
.sidebar__summary h5 {
  font-family: 'Bungee Hairline', cursive;
  color: #5DA7E7;
}
.sidebar__summary p {
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px;
}
.sidebar__summary--date {
  font-family: 'Bungee Hairline', cursive;
  color: #F9C80E;
  font-size: 11pt;
  text-align: right;
}
.sidebar__posts {
  font-family: 'VT323', monospace;
  text-align: right;
}
.sidebar__posts ul {
  list-style: none;
  padding: 0;
  text-align: right;
}
.sidebar__posts ul li {
  font-size: 16pt;
  margin: 3px 0;
  color: black;
}
.sidebar__tech ul {
  list-style: none;
  padding: 0;
  text-align: right;
}
.sidebar__tech ul a:hover {
  text-decoration: none;
}
.sidebar__tech ul li {
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
  color: #87CDFF;
}
.sidebar__soc-icons {
  margin-top: 20px;
}
.sidebar__soc-icons ul {
  list-style: none;
  padding: 0;
  text-align: right;
}
.sidebar__soc-icons ul li {
  display: inline-block;
  font-size: 30pt;
  padding: 5px;
  margin: 5px;
}
.sidebar__soc-icons ul li a {
  color: #EBF5EE;
}
.sidebar__soc-icons ul li a:hover {
  color: #5DA7E7;
}
