{% load static %}

<div>

  <h1 class="blog__sidebar__header"><a href="{% url 'blog' %}">Things about music and code.</a></h1>

  <div class="blog__sidebar__recent-posts">
    <h3>Recent Posts</h3>
    {% for post in posts %}
      <h5><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h5>
    {% endfor %}
  </div>

  <hr class="white-hr">

  <div class="icons__media">
    <ul>
      <li id="email">
        <a href=""><span class="fa fa-envelope"></span></a>
      </li>
      <li id="youtube">
        <a href="https://www.youtube.com/channel/UCYqJ-EtqO6gVCPh4aDpckRA" target="_blank"><span class="fa fa-youtube"></span></a>
      </li>
      <li id="github">
        <a href="https://github.com/scottc11" target="_blank"><span class="fa fa-github"></span></a>
      </li>
      <li id="twitter">
        <a href="https://twitter.com/Scott_Camp" target="_blank"><span class="fa fa-twitter"></span></a>
      </li>
      <li id="soundcloud">
        <a href="https://soundcloud.com/scottcamp" target="_blank"><span class="fa fa-soundcloud"></span></a>
      </li>
    </ul>
  </div>

  <hr class="black-hr">

  <img class="stars" src="{% static 'images/mountains_bg_aleks-dahlberg.jpg' %}" alt="">

</div>
